
<div class="container">
 <div>
  Search: <input ng-model="query">
 </div>
 <table class="table">
  <tr>
   <th>Reviews:</th>
   <th>Brands:</th>
   <th>Coffee Title:</th>
   <th>Country:</th>
  </tr>
  <tr ng-repeat="coffee in coffees | filter:query | orderBy:'name'">
   <td><a ng-click="changeId(coffee.id)" href="#/coffees/{{coffee.id}}">Reviews</a></td>
   <td>{{coffee.brand}}</td>
   <td>{{coffee.name}}</td>
   <td>{{coffee.country}}</td>
  </tr>
 </table>
</div>