<div class="container">
<div>
  Reviews for {{coffee.brand}} {{coffee.name}}:
</div>

<table class="table table-striped" style="width:100%">
  <tr>
    <th>Reviewer:</th>
    <th>Comment:</th> 
    <th>Rating:</th>
  </tr>
  <tr ng-repeat="review in reviews">
    <td>{{review.reviewer}}</td>
    <td>{{review.comment}}</td>
    <td>{{review.rating}}</td>
  </tr>
</table>
</div>